html {
  background-color: #FFF9F4;
}

body {
  width: 900px;
  margin: 0px auto;
  font-family: 'tahoma', serif;
}

h1 {
  font-family: verdana, sans-serif;
}

#header {
  background-color: #C2AD9D;
  background-image: url("./resources/header_background.png");
  background-repeat: no-repeat;
  background-position: right;
  text-shadow: 1px 1px 1px #000000;
  color: #ffffff;
  padding: 20px;
}

.signup {
  background-color: #7E472D;
  color: #fff;
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-color: #7E472D;
  border-width: 2px;
}

.login {
  color: #fff;
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-color: #7E472D;
  border-width: 2px;
}

#header a{
  text-decoration: none;
}

#header .sign {
  text-align: right;
}


#menu {
  background-color: #7E472D;
}

#menu a{
  color: #ffffff;
  text-decoration: none;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  padding: 10px 0px;
  margin: 0px;
}

#menu li {
  display: inline;
  border: none;
}

#menu li a {
  padding: 10px;
}

#menu li a:hover {
  background: #a79180;
}

form {
	display: inline;
	float: right;
	padding: 0px 10px;
}

#content .restaurants {
  padding: 10px 10px;
  width: 55%;
  height: 300px;
  overflow-y: auto;
  float: left;
  background-color: #ffffff;
  margin-bottom:10px;
  border-style: solid;
  border-color: #7E472D;
  border-width: 2px;
}

#recentReviews {
  padding: 10px 10px;
  width: 35%;
  height: 300px;
  overflow-y: auto;
  float: right;
  background-color: #ffffff;
  margin-bottom:10px;
  border-style: solid;
  border-color: #7E472D;
  border-width: 2px;
}

#footer {
  margin-top: 10px;
  border-top: 1px solid black;
  clear: both;
}

#content a {
  color: #999;
}
