.website-header {
  background-color: #C2AD9D;
  background-image: url("../resources/header_background.png");
  background-repeat: no-repeat;
  background-position: right;
  color: #ffffff;
  padding: 20px;
}

.website-header h1{
  text-align: left;
  display:block;
}

.website-header a{
  text-decoration: none;
}

.website-header .sign {
  text-align: right;
}

.menu form {
    margin-top: 0.6rem;
    position:absolute;
    display:inline;
	float: right;
	padding: 0px 10px;
}

.search {
  padding: 0.4rem 0.4rem;
  border-radius: 0.3rem;
  border: 1px solid #e4b791;
}

.menu form input[type=submit] {
  position:absolute;
  background-image: url('../resources/search.png');
  background-size: 100% 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  border: 1px solid #fff;
  background-color: #fff;
  margin-left: 0.3rem;
  margin-top: -1px;
}

/* --- MENU CUSTOMIZATION --- */

/* The clearfix will stop an annoying bug where,
if a parent element has a floated child element,
it will disappear. */
.clearfix:after {
  display: block;
  clear: both;
}

.menu-wrap {
  width: 100%;
  background: #7E472D;
  position: relative;
}

header h1 {
  font-family: verdana, sans-serif;
  color: #fff;
}

.menu {
  width: 100%;
  color: #efd6b5;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 0.7rem 1rem;
  /* clear list symbol (left side dot) */
  list-style: none;
}

.menu a {
  /* property name | duration | timing function */
  transition: all 0.15s linear;
  color: #fff;
  text-decoration: none;
}

/* make sub menu arrow smaller */
.menu .arrow {
  font-size:1rem;
  line-height:0%;
}

/* --- TOP LEVEL MENU CUSTOMIZATION ---  */

.menu > ul > li {
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
}

.menu > ul > li:hover {
  background: #a79180;
}

/* this only affects the top level links
Two selectors are used to make sure it's the same behaviour for mouse and keyboard.
(http://stackoverflow.com/questions/41078594/current-item-selector-in-css) */
.menu > ul > .current-item > a {
 background: #a79180;
}

/* --- BOTTOM LEVEL MENU CUSTOMIZATION --- */

.sub-menu {
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  position: absolute;
  top: 100%;
  left: 0rem;
  z-index: -1;
  opacity: 0;
  transition: opacity linear 0.15s;
  box-shadow: 0rem 0.1rem 0.2rem rgba(0,0,0,0.2);
  background: #7E472D;
}

.menu li:hover .sub-menu {
  z-index:1;
  opacity:1;
}

.sub-menu li {
  padding:0rem;
  display:block;
  font-size:0.8rem;
}

.sub-menu li a {
  padding: 0.5rem;
  display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
  background: #a79180;
}

/* --- SEARCH BAR CUSTOMIZATION --- */

.menu-wrap .search-bar {
  padding: 0rem 1rem;
  position: absolute;
  top: 20%;
  right: 0rem;
}
