a {
  color: #999;
}

.restaurants {
  margin-left: 5%;
  padding: 0.5rem 0.5rem;
  width: 50%;
  height: 20rem;
  overflow-y: auto;
  float: left;
  background-color: #ffffff;
  margin-bottom:10px;
  border-style: solid;
  border-color: #7E472D;
  border-width: 2px;
}

#recentReviews {
  margin-right: 5%;
  padding: 0.5rem 0.5rem;
  width: 30%;
  height: 20rem;
  overflow-y: auto;
  float: right;
  background-color: #ffffff;
  margin-bottom:1.5rem;
  border-style: solid;
  border-color: #7E472D;
  border-width: 0.15rem;
}
