/* TODO this should be removed and replaced by header.css and footer.css
Also make website.css for general stuff, like bg color etc */

html {
  background-color: #FFF9F4;
}

body {
  /* TODO width can't be a px value. e.g. open dev tools and see what happens */
  width: 100%;
  margin: 0px auto;
  font-family: 'tahoma', serif;
}

h1 {
  font-family: verdana, sans-serif;
}

.restaurants {
  margin-left: 5%;
  padding: 0.5rem 0.5rem;
  width: 50%;
  height: 20rem;
  overflow-y: auto;
  float: left;
  background-color: #ffffff;
  margin-bottom:10px;
  border-style: solid;
  border-color: #7E472D;
  border-width: 2px;
}

#recentReviews {
  margin-right: 5%;
  padding: 0.5rem 0.5rem;
  width: 30%;
  height: 20rem;
  overflow-y: auto;
  float: right;
  background-color: #ffffff;
  margin-bottom:1.5rem;
  border-style: solid;
  border-color: #7E472D;
  border-width: 0.15rem;
}

a {
  color: #999;
}
