.restaurantProfile {
  position: relative;
}

.header-wrap {
  width: 70%;
  /* center */
  margin: 0px auto;
}

/* --- IMAGE GALLERY (SLIDESHOW) */

.img-gallery-wrap {
  width: 70%;
  margin: 0px auto;
  border: solid 2px black;
  position: relative;
}

.img-wrap {
  border: solid 2px blue;
}

.img-wrap img {
  width: 100%;
}

.dot-wrap {
  border: solid 2px red;
  position: absolute;
  left: 50%;
}

/* turn an empty string into a nice little dot */
.dot {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0px 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  cursor: pointer;
}

/* --- !IMAGE GALLERY (SLIDESHOW) --- */

.description-wrap {
  width: 70%;
  /* center */
  margin: 0px auto;
}

.recentReview-wrap {
  /* 100% - description-wrap width - 0.5 (as long as description-wrap is centered ) */
  width: 14.5%;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  overflow-y: auto;
}
