.restaurantProfile {
  position: relative;
}

.header-wrap {
  width: 70%;
  margin: 0 auto; /* center */
}

.left-side {
  position: absolute;
  top: 5%;
  left: 0;
}

.left-side-menu-links a {
  text-decoration: none;
}

.description-wrap {
  width: 70%;
  /* center */
  margin: 0 auto;
}

.recentReview-wrap {
  width: 14.5%;       /* 100% - description-wrap width - 0.5 (as long as description-wrap is centered ) */
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  overflow-y: auto;
}
