.main-body {
  position: relative;
  padding: 1rem;
}

.main-body li{
  list-style: none;
  margin: 0px;
  text-align: left;
}

.main-body li:before {
    content: "\21E8";
    padding-right: 10px;
    color: #7e472d;
}

.search-results {
  display: inline-block;
}

.restaurant-display {
  margin-right: 5%;
  width: 400px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: hidden;
}

.restaurant-img {
  width: 100%;
  height: 200px;
}

.restaurant-img img {
  width: 100%;
  height: 100%;
}

.restaurant-name {
  font-weight: bold;
}